<html>
	<head><title>Test</title></head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
<!--         <script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
        <script src="http://cdn.jquerytools.org/1.2.6/jquery.tools.min.js"></script>
        <script language="javascript" type="text/javascript" src="/scripts/edit_area/edit_area_full.js"></script>
        <script language="javascript" type="text/javascript">
			function test_code() {
        		code = editAreaLoader.getValue('code');
        		$.ajax({
        		  type: 'POST',
				  url: "/handlers/testcode",
				  context: document.body,
				  data: { 'code': code },
				  success: function(output) {
				    $('#output').val(output)
				  }
				});
        	}
        
        	$(document).ready(function(){
        		$('#code').disabled = true;
		        editAreaLoader.init({
		            id : "code"		// textarea id
		            ,syntax: "python"			// syntax to be uses for highgliting
		            ,start_highlight: true		// to display with highlight mode on start-up
		       		,plugins: "testcode"
		       		,allow_toggle: false
		        });
		        
		        $("ul.tabs").tabs("div.panes > div");
		 	 });
        </script>
	<body>
	<div id="container">
		<div id="header">
			<h1>
				vagamap
			</h1>
		</div>
		<div id="navigation">
			<ul>
				<li><a href="#">Providers</a></li>
				<li><a href="#">Places</a></li>
				<li><a href="#">Map</a></li>
			</ul>
		</div>
		<div id="content-container">
			<form method="POST" action="/">
				<table border="0" class="maintable" cellpadding="3px" cellspacing="3px">
					<tbody>
						<tr>
						<td width="50%" >{{form.code(disabled="disabled")}}</td>
						<td valign="top">
							<ul class="tabs">
								<li><a href="#">Output</a></li>
								<li><a href="#">Input</a></li>
							</ul>
							<div class="panes">
								<div><textarea id="output" readonly="readonly" >{{ output }}</textarea></div>
								<div><textarea id="input" ></textarea></div>
								<div>pane 3 content</div>
							</div>
							
						</td>
						</tr>
				</table>
				<div id="footer">
					<input type="button" onclick="test_code()" value="Test" /> Save Revert
				</div>
			</form>
		</div>
		
	</div>
	</body>
</html>
