{% extends "base.html" %}
{% block title %}List Providers{% endblock %}
{% block head %}
   	<script language="javascript" type="text/javascript">
	</script>
	<style type="text/css">
	</style>
{% endblock %}
{% block form_open %}<form method="POST" action="" name="provider_list">{% endblock %}
{% block content %}
	<table class="entity-list" >
		<thead>
			<tr>
				<td style="width: 100px" >Provider</td>
				<td style="width: 100px" >Name</td>
				<td style="width: 300px" >Label</td>
			</tr>
		</thead>
		<tbody>
		{% for place in places %}
			<tr>
				<td><a href="/provider/edit?key_name={{ place.provider }}" >{{ place.provider }}</a></td>
				<td><a href="/place/edit?key_name={{ place.name }}" >{{ place.name }}</a></td>
				<td>{{ place.label }}</td>
			<tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
{% block footer %}
	<input type="submit" value="New" /> 
{% endblock %}
{% block form_close %}</form>{% endblock %}