{% extends "base.html" %}
{% block title %}Edit Provider{% endblock %}
{% block head %}
	<script language="javascript" type="text/javascript" src="/scripts/edit_area/edit_area_full.js"></script>
   	<script language="javascript" type="text/javascript">
		function test_code() {
		    code = editAreaLoader.getValue('code');
		    input = $('#test_input').val();
		    $.ajax({
		        type: 'POST',
		        url: "/handlers/testcode",
		        context: document.body,
		        data: {
		            'code': code,
		            'input': input
		        },
		        success: function (output) {
		            $('#output').val(output);
		            $("ul.css-tabs > li > a").first().click();
		        }
		    });
		}
		
		function save() {
		    $("input[value='Save']").click();
		}
		
		$(document).ready(function () {
		    $('#code').disabled = true;
		    editAreaLoader.init({
		        id: "code",
		        syntax: "python",
		        start_highlight: true,
		        plugins: "testcode",
		        allow_toggle: false,
		        min_width: 380
		    });
		    $(".css-tabs").tabs(".css-panes > textarea");
		    $('#test_input').keypress(function (event) {
		        if (event.which == 13 && event.shiftKey) {
		            test_code();
		            return false;
		        }
		    });
		});
	</script>
	<style type="text/css">
		#left-column {
			float: left;
			width: 380px;
			padding: 5px 10px 5px 0px;
		}
		
		#right-column {
			float: right;
			width: 380px;
			padding: 5px 0px 5px 10px;
		}
		
		textarea {
			float: left;
			resize: none;
			height: 330px;
			padding: 0;
			margin: 0;
			width: 380px;
		}
		
		.css-panes textarea {
			height: 280px;
			border: 1px solid #666;
			border-width: 0 1px 1px 1px;
			min-height: 150px;
			padding: 10px;
			width: 360px;
			margin-top: 0px;
		}	
	</style>
{% endblock %}
{% block form_open %}<form method="POST" action="" name="provider">{% endblock %}
{% block content %}
	<div id="properties">
		<div class="property">{{form.name.label}} {{form.name}}</div>
	</div>
	{% if form.name.errors %}
		<ul class="errors">
		{% for error in form.name.errors %}
			<li class="error" >{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	<div id="left-column" >
	{{form.code()}}
	</div>
	<div id="right-column" >
		<ul class="css-tabs">
		<li><a href="#">Output</a></li>
		<li><a href="#">Input</a></li>
	</ul>
	<div class="css-panes">
		<textarea id="output" readonly="readonly" ></textarea>
		{{form.test_input}}
	</div>
	</div>
{% endblock %}
{% block footer %}
	<input type="submit" value="Save" /> 
	<input type="button" onclick="test_code()" value="Test" />
{% endblock %}
{% block form_close %}</form>{% endblock %}