<html>
	<head><title>Test</title></head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
        <script language="javascript" type="text/javascript" src="/scripts/edit_area/edit_area_full.js"></script>
        <script language="javascript" type="text/javascript">
        editAreaLoader.init({
            id : "code"		// textarea id
            ,syntax: "python"			// syntax to be uses for highgliting
            ,start_highlight: true		// to display with highlight mode on start-up
        });
        </script>
	<body>
		<form method="POST" action="/">
			<div>{{ form.code.label }}: <br />{{form.code()}}</div>
            {% if form.code.errors %}
                <ul class="errors">
                {% for error in form.code.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
            <br />
            <input type="submit" value="submit" />
		</form>
        <div>{{ output }}</div>
	</body>
</html>
