body
{
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #888;
}

#container
{
	margin: 0 auto;
	width: 800px;
	background: #fff;
}

#header
{
	background: #fff;
	padding: 5px;
	padding-bottom: 10px;
}
#header h1 { 
	margin: 0; 
	color: #000; 
	font-family:"Georgia";
	font-size: 200%; 
}

#navigation
{
	float: left;
	width: 100%;
	background: #000;
}
#navigation ul
{
	margin: 0;
	padding: 0;
}
#navigation ul li
{
	list-style-type: none;
	display: inline;
}
#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
	font-family: san-serif;
}
#navigation li a:hover { background: #333; }


#content-container
{
	float: left;
	width: 780px;
	margin: 0px;
	padding: 5px 10px;
	background: #FFF;
}

#footer {
	float: left;
	clear: both;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #000;
	background: #fff;
	margin: 0px;
	width: 780px;
	height: 30px;
	padding: 5px 10px 0px 10px;
}

.errors {
	color: #f00;
	font-size: smaller;
}
